<div class="d-flex justify-end flex-wrap text-small text-grey-dark">
  <span class="fw-600">{{question.date}}</span>
  <span class="px-2">By</span>
  <a href=""> <strong class="text-primary">{{question.user.name}} </strong></a>
</div>