.btn {
    font-size: 1rem;
    display: button;
    padding: 0.35em 1em;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        font-weight: 600;
        outline: currentColor;
    }
    svg {
        margin-bottom: -5px;
    }
}

a.btn {
    text-decoration: none;
}

.btn-light {
    color: $dark;
    background-color: $light;
}

.btn-primary {
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
}
.btn-secondary {
    background-color: $accent;
    border: 1px solid $accent-light;
    color: $white;
}
.btn-dark {
    background-color: $dark;
    color: $white;
}

.btn-round {
    border-radius: 0.25em;
}

@include responsive(btn-block) {
    display: block;
    width: 100%;
}
