.input {
    display: block;
    width: 100%;
    font-size: 1rem;
    border: 2px solid $grey;
    padding: 0.25em 0.5em;
    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 0.075em $light;
    }
    resize: none;
    color: $dark;
}

.field {
    margin-bottom: 0.35em;
}

label {
    font-weight: 300;
    font-family: $font-sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: $dark;
    line-height: 2;
}
