@include responsive(d-flex) {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}
$positions: (
    center: 'center',
    start: 'flex-start',
    end: 'flex-end',
    between: 'space-between',
    around: 'space-around'
);
@each $prefix, $value in $positions {
    .justify-#{$prefix} {
        justify-content: unquote($value);
    }
    .align-#{$prefix} {
        align-items: unquote($value);
    }
    .align-self-#{$prefix} {
        align-self: unquote($value);
    }
}

@each $value in ('column', 'column-reverse', 'row', 'row-reverse') {
    @include responsive(flex- + $value) {
        flex-direction: unquote($value);
    }
}

@for $i from 0 through 4 {
    .flex-#{$i} {
        flex: $i;
    }
}
