@each $color, $value in $colors {
    .fill-#{$color} {
        svg {
            fill: $value;
        }
    }
    .stroke-#{$color} {
        svg {
            stroke: $value;
        }
    }
}

@each $size,
    $value in (1: 1rem, 2: 1.25rem, 3: 1.5rem, 4: 2rem, 5: 2.5rem, 6: 4rem)
{
    .icon-#{$size} {
        svg {
            height: $value;
            width: $value;
        }
    }
}

.has-icon {
    svg {
        margin-bottom: -5px;
    }
}
