@each $prefix, $value in $colors {
    .text-#{$prefix} {
        color: $value;
    }
}

@each $weight in (300, 400, 500, 600, 700, 900) {
    .fw-#{$weight} {
        font-weight: $weight;
    }
}

@each $value in (left, right, center) {
    .text-#{$value} {
        text-align: $value;
    }
}

$sizes: (
    h1: $font-h1,
    h2: $font-h2,
    h3: $font-h3,
    h4: $font-h4,
    small: $font-small,
    1: 1rem,
    md: 1.25rem
);

@each $size, $value in $sizes {
    @include responsive(text + '-' + $size) {
        font-size: $value;
    }
}

@each $case in (lower, upper) {
    .text-#{$case} {
        text-transform: $case + 'case';
    }
}

.font-serif {
    font-family: $font-serif;
}

.font-sans {
    font-family: $font-sans-serif;
}
@for $i from 1 through 4 {
    .spacing-#{$i} {
        letter-spacing: $i * 0.125 + em;
    }
}

.font-italic {
    font-style: italic;
}
