<aside>
    <section class="d-flex flex-column align-center bg-white py-2 ">
        <img src="images/avatar.jpeg" alt="user image" class="h-150 rounded">
        <h5 class="fw-600">Ahimbisibwe Roland</h5>
  </section>
  <nav class="sidebar-links">
    <a href="index.html" class="sidebar-link">
        <i class="sidebar-link-icon">{{>icons/IconBook}}</i>
        <span class="sidebar-link-text">Questions</span>
    </a>
    <a href="profile.html" class="sidebar-link">
        <i class="sidebar-link-icon">{{>icons/IconUser}}</i>
        <span class="sidebar-link-text">Profile</span>
    </a>
    <a href="login.html" class="sidebar-link">
        <i class="sidebar-link-icon">{{>icons/IconKey}}</i>
        <span class="sidebar-link-text">Sign Out</span>
    </a>
</nav>
</aside>