.input {
    display: block;
    width: 100%;
    font-size: 1rem;
    border: 2px solid $grey;
    padding: 0.25em 0.5em;
    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 0.075em $primary;
        border-color: transparent;
    }

    color: $dark;
}

.field {
    margin-bottom: 0.25em;
}
